<div class="about-text">
    <p>
        Prace nad serwisem zacząłem w październiku 2017. Back-end napisany jest w C# przy użyciu Asp.Net Mvc, front to standardowo mix html-a, css-a i java script-u (wspomagany bibliotekami Bootstrap i jQuery). Dane przechowywane są w MS SQL Server 2008, dostępem do danych zajmuje się Entity Framework. Starałem się, by strona była w pełni responsywna, natomiast jeśli miejscowo coś się rozjeżdża na jakiejś wielkości wyświetlacza to proszę o wyrozumiałość:) Plany na najbliższą przyszłość dla tej aplikacji to zabezpieczenie połączenia przez https, w dalszej zaś perspektywie chciałbym przekształcić ją w aplikację progresywną. 
    </p>
</div>