<div class="about-text">
    <p>
        Programuje od około 6 lat. Główną część tego czasu spędziłem tworząc aplikacje dla Windows w Visual Basic-u 6, jak też aplikacje w ramach pakietu Office (głównie Excel i Access) korzystając z wbudowanego w nie edytora VBA. Eksperymentowałem też krótko z Javą oraz Python-em, ale z powodu utrudnionej dystrybucji aplikacji w środowisku Windows temat porzuciłem. Od 2017 tworzę aplikacje w .Net - początkowo tylko dla Windows w Windows Forms, później również dla sieci w Asp.Net Mvc a ostatnio także mobilne przy użyciu Xamarin.Forms.
    </p>
    <p>Profil na GitHub: <a href="https://github.com/robs23">https://github.com/robs23</a> </p>
</div>

