


<body>
    <div style="width:100%; max-width: 1000px; width:80%; margin: 0 auto"> 
        <img src="~/Images/under_construction_800.png" style="width:100%" />
    </div>
    <div style="text-align:center; font-size: 1.5em">Uuups, nic tu jeszcze nie ma. Zajrzyj tutaj za jakiś czas:)</div>
</body>
